header {
    background-color: darksalmon;
    color:black;
    padding: 20px;
    text-align: center;
}

li{
    list-style-type: none;
}

.grupo-fotos {
    display: flex;
    justify-content: space-between;
}

img {
    width: 100px;
}

.banner img {
    width: 100%;
}